<app-header-for-sections></app-header-for-sections>

<main class="main background-gray">
    <div class="breadcrumbs container">
        <nav aria-label="breadcrumb" class="breadcrumbs-search-navbar">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a [routerLink]="'/knowledge-base/'">
                       Search
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{ id }}
                </li>
            </ol>

            <div class="search search--inline">
                <form>
                    <i class="ico-search">
                        <svg>
                            <use xlink:href="https://buttercms.com/static/v2/images/sprite.1229afca4c5f.svg#ico-search"></use>
                        </svg>
                    </i>

                    <input type="search" name="query" id="query" value="" placeholder="Search here"
                        class="search__field">

                    <button type="submit" class="search__btn btn btn--solid-dark-blue btn--icon">
                        <i class="ico-arrow-send-white">
                            <svg>
                                <use xlink:href="https://buttercms.com/static/v2/images/sprite.1229afca4c5f.svg#ico-arrow-send-white"></use>
                            </svg>
                        </i>
                    </button>
                </form>
            </div>
        </nav>
    </div>

    <section class="section-category">
        <div class="container">
            <div class="section-category__head">
                <div class="d-inline-block">
                    <div class="category-icon">
                        <img src="https://cdn.buttercms.com/JsA9TWYQ5upTxBFMiNr9" alt="How To's">
                    </div>
                </div>
                <h1 class="d-inline-block">
                    Search for {{ id }}
                </h1>
                <p class="mt-5">
                    {{ knowledgeBaseData?.fields?.section_description }}
                </p>
            </div>


            <div *ngIf="knowledgeBaseData && knowledgeBaseData?.length > 0" class="section-category__body">
                <div class="row">
                    <div class="col">
                        <ul  class="list-group">
                            <li *ngFor="let data of knowledgeBaseData" class="list-group-item list-group-item-action">
                                <h5 class="d-flex justify-content-between">
                                    {{ data?.fields?.article_name }}
                                </h5>
                                <p>
                                    {{ data?.fields?.article_description }}
                                </p>
                                <a [routerLink]="['/knowledge-base/section/' + id + '/article',  data?.slug]"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div *ngIf="(!knowledgeBaseData) || ( knowledgeBaseData && knowledgeBaseData?.length === 0)" class="section-category__body">
                <div class="row">
                  <div class="col">
                    <p>
                      No results found. Try a different search query.
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </section>
</main>