/* breadcrumbs */
.breadcrumbs {
    .breadcrumbs-search-navbar {
        background-color: #e9ecef;
        display: flex;
        align-items: center;

        .breadcrumb {
            display: flex;
            flex-wrap: wrap;
            padding: 0.75rem 1rem;
            margin-bottom: 1rem;
            list-style: none;
            background-color: #e9ecef;
            border-radius: 0.25rem;

            .breadcrumb-item {
                a {
                    color: inherit;
                    text-decoration: none;
                    transition: opacity 0.4s ease-in-out;
                    cursor: pointer;
                    background-color: transparent;
                }

                &.active {
                    color: #6c757d;
                }

                & + .breadcrumb-item {
                    padding-left: 0.5rem;
                }
            }

            .breadcrumb-item + .breadcrumb-item::before {
                display: inline-block;
                padding-right: 0.5rem;
                color: #6c757d;
                content: "/";
            }
        }
        

        & .search {
            padding: 10px;
            margin: 0 0 0 auto;

            &.search--inline {
                position: static;
                transform: translateX(0);
                max-width: 422px;
                width: 100%;
                box-shadow: none;

                & .ico-search {
                    left: 18px;
                }

                & .search__field {
                    flex: 1;
                    max-width: 349px;
                    width: 100%;
                    height: 42px;
                    padding: 0 42px;
                    appearance: none !important;

                    &::placeholder {
                        outline: none !important;
                        box-shadow: none !important;
                    }
                }

                & .btn {
                    left: -1px;
                    flex: 0 0 73px;
                    max-width: 73px;
                    min-width: 0;
                    height: 42px;
                    padding: 0;
                    line-height: 42px;
                }
            }

            & .btn {
                position: relative;
                left: -1px;
                flex: 0 0 73px;
                max-width: 73px;
                height: 70px;
                padding: 0;
                min-width: unset;
                line-height: 70px;
                border-radius: 0;
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
                transition: opacity 0.3s ease;

                border: 1px solid #384062;
                font-family: "Proxima Nova", sans-serif;
                font-size: 16px;
                font-weight: 600;
                vertical-align: middle;
                text-align: center;
                text-decoration: none;
                appearance: none;
                user-select: none;


                &.btn--solid-dark-blue {
                    background: #151E46;
                    border-color: #151E46;
                    color: #fff;

                    &.btn--icon svg {
                        fill: #fff;
                    }
                }
                
                &.btn--icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: -0.01em;

                    & svg {
                        transition: fill 0.3s ease-in-out;
                    }
                }

                .ico-arrow-send-white svg, .ico-arrow-send svg {
                    width: 100%;
                    height: 100%;
                }
            }

            & .search__field {
                flex: 0 0 500px;
                max-width: 500px;
                height: 70px;
                padding: 0 50px;
                border-bottom-right-radius: 2px;
                border-top-right-radius: 2px;
                border: 0;
                color: #19234F;
                appearance: none !important;

                &::placeholder {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }

            & form {
                display: flex;
            }
            
            & .ico-search {
                position: absolute;
                pointer-events: none;
                left: 27px;
                top: 50%;
                transform: translateY(-50%);
                width: 14px;
                height: 14px;
                line-height: 0;
            }
            
            [class*=ico-] {
                display: inline-block;
                vertical-align: middle;
            }

            [class*=ico-] svg {
                width: 100%;
                height: 100%;
                fill: inherit;
            }

            svg:not(:root) {
                overflow: hidden;
            }

            svg {
                overflow: hidden;
                vertical-align: middle;
            }
        }
    }

    & ol.breadcrumb {
        margin-bottom: 0;
    }
}




.background-gray {
    background-color: #f8f9fa !important;
}


/* layout */

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    max-width: 100%;
    flex: 1;
}

.d-inline-block {
    display: inline-block !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.d-flex {
    display: flex !important;
}



/* section-category */
.section-category {
    padding: 20px 0 40px;
    background-color: #f8f9fa;

    & .container {
        background-color: #fff;
        padding: 3rem 2rem;
    }

    .section-category__head {
        margin-bottom: 60px;

        h1 {
            font-size: 45px;
            line-height: 1.09;
        }

        & p:last-child {
            margin-bottom: 0;
        }

        & .category-icon {
            position: relative;
            flex: 0 0 70px;
            height: 70px;
            width: 70px;
            margin: 0 10px 0 0;
            border-radius: 50%;
            background-color: #19234F;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: inline-block;
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }
    }

    & .section-category__body {
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;

            .col {
                max-width: 100%;
                flex: 1;
            }
        }

        & .list-group-item {
            padding: 2rem 1.25rem !important;

            &:first-child {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }

            & {
                position: relative;
                display: block;
                padding: 0.75rem 1.25rem;
                margin-bottom: -1px;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.125);
            }

            &.list-group-item-action {
                width: 100%;
                color: #495057;
                text-align: inherit;

                &:hover, &:focus {
                    z-index: 1;
                    color: #495057;
                    text-decoration: none;
                    background-color: #f8f9fa;
                }
            }

            [class^=list-] {
                list-style: none outside none;
            }

            & p {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            & a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: inherit;
                text-decoration: none;
                transition: opacity 0.4s ease-in-out;
            }

            h5 {
                font-weight: 600;
                font-size: 28px;
                line-height: 1.2;
                margin-bottom: 0.5rem;
            }
        }
    }
}


























/* Articles */
.section-articles {
    padding: 120px 0 0px;
    
    @media (max-width: 1650px){
        .section-articles {
            padding: 40px 20px 0px;
        }
    }

    &.section-articles--alt {
        padding: 40px 0 127px;
    }

    & .section-articles__head {
        margin: 0 0 76px;
        text-align: center;
    }

    & .section-articles__foot {
        padding: 5px 0 0;

        & .articles-small {
            & .articles-small__title {
                margin: 0 0 40px;
                font-size: 20px;
                font-weight: 600;
            }

            & h5 {
                display: block;
                font-size: 0.83em;
                margin-block-start: 1.67em;
                margin-block-end: 1.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }

            & .articles-small__title {
                margin: 0 0 40px;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    [class^=list-] {
        list-style: none outside none;
    }

    .list-group {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;

        &:first-child {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        & .list-group-item {
            position: relative;
            display: block;
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.125);

            & a {
                color: inherit;
                text-decoration: none;
                transition: opacity 0.4s ease-in-out;

                h6 {
                    font-size: 18px;
                    line-height: 1.44;
                    margin-bottom: 0.5rem;
                    font-weight: 600;
                }
            }

            &.list-group-item-action {
                width: 100%;
                color: #495057;
                text-align: inherit;

                &:hover, &:focus {
                    z-index: 1;
                    color: #495057;
                    text-decoration: none;
                    background-color: #f8f9fa;
                }
            }

            &:first-child {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
        }
    }
    
}