<div class="header">
    <div class="container flex items-center justify-between">
        <div class="w-full lg:w-9/12 flex items-center justify-between lg:justify-start h-full">
            <div class="block">
                <a href="/" class="logo">
                    ButterCMS
                    <img [src]="butterImg || 'https://buttercms.com/static/v2/images/logo.fb7c1035e94d.svg'"
                        alt="ButterCMS logo" width="214" height="30">
                </a>
            </div>


            <div class="block lg:hidden">
                <a href="#" class="btn-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>


            <div class="hidden lg:flex items-center justify-end lg:ml-12 h-full">
                <div class="menu flex items-center justify-center">
                    <div class="px-5">Solutions</div>
                    <div class="px-5">Features</div>
                    <div class="px-5">Learn</div>
                    <div class="px-5">Pricing</div>
                    <div class="px-5">Customers</div>
                    <div class="px-5">Partners</div>
                </div>
            </div>

        </div>

        <div class="hidden lg:w-3/12 lg:flex lg:items-center lg:justify-end h-full">
            <div>
                <a class="block login-btn" href="">
                    Log In
                </a>
            </div>

            <div class="lg:ml-12">
                <a class="block get-started-btn" href="">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</div>


<div class="intro intro--small intro--shortened mb-0"
    style="background-image: url(https://buttercms.com/static/v2/images/intro-bg-2.4af98db9356f.jpg);">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__head">
            </div>
        </div>
    </div>
</div>